@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

*{
  margin:0 ;
  padding:0 ;
}
  
body{
  display:flex;  
  font-family: Fredoka;
}

nav{
  border:solid;
  width:20%;
  position: fixed;
  height:100vh;
  overflow-y: scroll;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqPG6eqYuPx3opyB_C10Ub7EDcz8vzPx5qA35ZL7uqgZP49XmRYMvn_CdR1yjVGl-NkzU&usqp=CAU');
  color:white;
}

main{
  position:absolute;
  left:20%;
  background-color:#11004d;
}

#logo{
  width: 99%;
  margin-bottom: 2rem;
  border-bottom: solid black 1px;
  border-right: solid black 1px;

}

ul{
  padding:0 5px 5px 15px;
}

header{
  font-family: Fredoka;
  text-align: center;
  color:#d6ba00;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqPG6eqYuPx3opyB_C10Ub7EDcz8vzPx5qA35ZL7uqgZP49XmRYMvn_CdR1yjVGl-NkzU&usqp=CAU');
}

#subtitulo{
  margin-top: 2rem;;
  font-family: Fredoka;
  color:#fff; 
}

section#cards{
  
  display:flex;
  flex-wrap: wrap;
  justify-content:space-evenly;   
}

#background{
  position:fixed;
  z-index:1;
  left:20%;
  height:80%;
  opacity:0.5;
}

div{  
  padding:2rem;
  margin-top:2rem;
  width: 70%;
  z-index:2;
  color:#fff;
  background-color:#05050590;
}








